<div class="sb-song">
  <div class="edit-button">
    <i class="fa fa-pencil" aria-hidden="true"></i>
    <span (click)="toggleEdit()" class="edit-button__text">edit</span>
  </div>
  <h1 class="sb-song__title">{{ song.title }}</h1>
  <h3 class="sb-song__artist">{{ song.artist }}</h3>
  <div *ngFor="let section of song.sections ; let i = index"
    class="sb-song__section">
    <sb-line *ngFor="let line of section.lines; let j = index"
      [lineNo]="{ section: i, line: j }"
      [words]="line.words"
      [chords]="line.chords"
      [editMode]="editMode"
      (onAddLine)="addLine($event)"></sb-line>
  </div>

</div>